@mixin circle($diameter) {
  width: $diameter;
  height: $diameter;
  border-radius: $diameter;
}

// 单行文本省略号
@mixin ellipsis() {
  display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// 多行文本省略号
@mixin m-ellipsis($num: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// flex布局
@mixin flex($align: center, $justify: space-between, $dir: row) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $dir;
}